<% @loadouts.each do |b|%>
    <div class="Loadout">
    Creator: <%= b.creator %>
    <br/>
    loadout name: <%= b.loadout_name %> 
    <br/>
    weapon:<%= b.weapon %>
    <br/>
        <%if logged_in? && b.creator == current_user.username %>
            Your loadout! <%= link_to 'View', loadout_path(b)%>
        <%else %>
            <%= link_to 'View', loadout_path(b)%>
        <%end%>
    </div>
    <br/>
<% end %>