<br/>
<br/>
<div class="Loadout">
    loadout_name: <%= @loadout.loadout_name %>
    <br/>
    creator: <%= @loadout.creator %>
    <br/>
    loadout name: <%= @loadout.loadout_name %>
    <br/>
    weapon: <%= @loadout.weapon %>
    <br/>
    optic: <%= @loadout.optic %>
    <br/>
    muzzle: <%= @loadout.muzzle %>
    <br/>
    barrel: <%= @loadout.barrel %>
    <br/>
    underbarrel: <%= @loadout.underbarrel %>
    <br/>
    ammunition: <%= @loadout.ammunition %>
    <br/>
    stock: <%= @loadout.stock %>
    <br/>
    girp: <%= @loadout.girp %>
    <br/>
    gun_perk: <%= @loadout.gun_perk %>
    <br/>
    perk_1: <%= @loadout.perk_1 %>
    <br/>
    perk_2: <%= @loadout.perk_2 %>
    <br/>
    perk_3: <%= @loadout.perk_3 %>
    <br/>
    lethal: <%= @loadout.lethal %>
    <br/>
    tactical: <%= @loadout.tactical %>
</div>
